/* ===================== Common Properties ========================= */

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 1.6rem;
}

h2 {
    font-size: 6rem;
}

button {
    border: none;
    background: #ff5959;
    padding: 1.3rem 2rem;
    font-size: 2rem;
    font-weight: 500;
    color: white;
    border-radius: 0.6rem;
    cursor: pointer;
}

/* ========================= First Part ========================== */

.donate-part {
    color: white;
    background-image: url(photos/survivor-kid.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}

.donate-part h2 {
    width: 70%;
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-weight: 600;
    line-height: 7rem;
    text-transform: capitalize;
}

.donate-part p {
    text-align: center;
    width: 50%;
    margin-bottom: 2rem;
}

/* ======================================================= */

.amount-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10rem 0;
}

.amount-part div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.amount-part .read h2 {
    font-size: 4rem;
    color: #121212;
    margin-bottom: 1rem;
}

.amount-part .read p {
    color: #707070;
    width: 60%;
    margin-bottom: 3rem;
}

.amount-part .amount {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 2rem;
    margin-bottom: 3rem;
}

.amount-part .amount h3 {
    background: #fafafa;
    padding: 3.5rem 2rem;
    font-size: 3.5rem;
    border-radius: .7rem;
    color: #707070;
}

.amount-part .amount #selected-amount {
    border: 2px solid #ff5959;
    color: #ff5959;
    background: rgba(255, 89, 89, 0.05);
}

.amount-part .send {
    width: 100%;
}

.amount-part .send input {
    border: none;
    border-bottom: 2px solid rgba(112, 112, 112, 0.3);
    outline: none;
    display: inline-block;
    width: 66.5%;
    height: 3rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #707070;
    padding: .5rem;
}

.amount-part .send input::placeholder {
    font-size: 1.5rem;
    text-align: center;
    color: rgba(112, 112, 112, 0.6);
    font-family: poppins, sans-serif;
}

/* ========================== Donate-Plan Part =========================== */

.donate-plan {
    display: flex;
    flex-direction: column;
    padding: 0 0 2rem 0;
    align-items: center;
}

.donate-plan .head {
    width: 50%;
    text-align: center;
}

.donate-plan .head h2 {
    font-size: 4rem;
    color: #121212;
    margin-bottom: 1.5rem;
}

.donate-plan .head p {
    color: #707070;
}

.donate-plan .box {
    display: flex;
    gap: 2rem;
    margin-top: 5rem;
    width: 90%;
}

.donate-plan .box div {
    padding: 2rem 2rem 5rem 2rem;
    border-radius: .5rem;
    width: 40%;
}

#food-box {
    background: #EDF5F6;
}

#shelter-box {
    background: #FFEEEE;
}

#education-box {
    background: #FFF4D6;
}

.donate-plan .box div img {
    width: 4.5rem;
    margin-top: 4rem;
}

.donate-plan .box div h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 2rem auto 1rem;
    color: #121212;
}

.donate-plan .box div p {
    letter-spacing: -0.07rem;
    color: #707070;
    font-size: 1.4rem;
}

/* ============================= Donate Method =================================== */

.donate-method {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7rem auto;
}

.donate-method .read {
    width: 50%;
    text-align: center;
}

.donate-method .read h2 {
    font-size: 4rem;
    color: #121212;
    margin-bottom: 1rem;
}

.donate-method .read p {
    color: #707070;
    margin-bottom: 4rem;
}

.donate-method .send {
    display: flex;
    gap: 2.5rem;
}

.donate-method .send div {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1), -10px -10px 10px rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    padding: 2rem 2rem 4rem;
    width: 33%;
}

.donate-method .send div img {
    width: 100%;
    border-radius: .5rem;
    margin-bottom: 3rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1), -5px -5px 5px rgba(0, 0, 0, 0.1);
}

.donate-method .send div p {
    letter-spacing: -0.07rem;
    color: #707070;
    font-size: 1.4rem;
    text-align: justify;
    margin-bottom: 1.5rem;
}

.donate-method .send div button {
    display: inline-block;
    width: 100%;
    padding: .8rem 0;
    color: #f0f0f0;
    font-size: 1.8rem;
}

/* ================================== Subscription Part =============================== */

.subscription {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10rem auto;
}

.subscription .read {
    text-align: center;
    width: 50%;
}

.subscription .read h2 {
    font-size: 4rem;
    color: #121212;
    margin-bottom: 1.5rem;
}

.subscription .read p {
    color: #707070;
    margin-bottom: 5rem;
}

.subscription .subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFF4D6;
    width: 70%;
    height: 20rem;
    border-radius: .5rem;
}

.subscription .subscribe input {
    width: 20%;
    border: none;
    outline: none;
    background: #d9d9d9;
    padding: 1rem;
    border-radius: .3rem 0 0 .3rem;
    font-size: 1.4rem;
}

.subscription .subscribe input::placeholder {
    color: #aa9f9f;
}

.subscription .subscribe button {
    font-size: 1.4rem;
    padding: 1rem 2rem;
    border-radius: 0 .3rem .3rem 0;
}

/* =============================== Footer Part =================================== */

footer {
    background: #0B0D17;
    padding: 7rem;
    text-align: center;
}

footer h2 {
    color: #ff5959;
    margin: 0 auto 1rem;
    font-size: 4rem;
    font-family: 'Lobster', cursive;
    font-weight: 400;
}

footer p {
    color: grey;
    font-size: 1.4rem;
}